@import "./vars";

.dashboard {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background: $c-dashboardbg;
    height: 100vh;
    font-size: 16px;
    @media (max-width: 1260px) and (min-width: 768px) {
      font-size: 13px;
    }
    @media (max-width: 1420px) and (min-width: 1260px) {
      font-size: 14px;
    }
}


.list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.listItem {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border-bottom: 3px solid rgba($c-white, .07);
  line-height: 1.15;
  color: rgba($c-white, .6);
  min-height: 79px;
}

.listItemText {
  margin-left: 12px;
}


.listItemWrapper {
  text-decoration: none;
  padding: 0 28px;
  display: flex;
  flex: 1;
  &:hover {
    background: rgba($c-white, 0.5);
  .listItem{
      border-color: transparent;
      color: $c-black;
    }
    svg {
      path {
        fill: inherit;
      }
    }
  }
}



.icon {
  flex-shrink: 0;
  width: 48px;
  height: auto;

  @media (max-width: 1420px) and (min-width: 768px) {
    width: 32px;
  }
}


svg {
  path,
  rect {
    fill: $c-white;
  }
}


.headerWrapper {
  padding:  24px 28px 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgba($c-white, .3);
  padding: 0 12px;
}

.headline {
  color: $c-white;
}


.searchIcon {
    cursor: pointer;
    order: 1;
    width: 25px;
    height: auto;

    svg:hover {
      path,
      rect {
        fill: initial;
      }
    }

    @media (max-width: 1420px) and (min-width: 768px) {
      width: 20px;
    }
}
