$c-black: #000;
$c-white: #fff;
$c-snowwhite: #E6E6E8;
$c-blueblack: #000a28;
$c-bluecobalt: #003c64;
$c-bluenight: #005096;
$c-blueselect: #327dcd;
$c-blueLink: #507db4; // huge changes needed
$c-bluelinkhover: #4673af;
$c-bluehighlight: #64a5e6;
$c-bluelight: #d2d7ff;
$c-body: #2d323c;
$c-greytext: #505a64;
$c-greylogo: #646e78;
$c-grey: #87919b;
$c-greylight: #aab4be;
$c-greylightgroupnav: #aaaab4;
$c-greyborder: #c8cdd2;
$c-greylightest: #e6ecf2;
$c-greymidlightest: #edf2f7;
$c-greysuperlight: #f6f7f8;
$c-green: #00964a;
$c-red: #d70033;
$c-red-pdf: #f00000;
//added vars
$c-dashboardbg: #7d91a5;
