@import '../../../theme/vars';
@import '../../../theme/placeholders';
@import '../../../theme/mixins';


.SelectBox {
	position: relative;
	font-family: sans-serif;
	background: $dd-off-bg;
	&:hover {
		background: $c-white;
	}

	&,
	& div,
	& input,
	& span {
		box-sizing: border-box;
	}
}

.Select-control {
	border: 2px solid $dd-selected-op;
	height: 85px;
	outline: none;
	overflow: hidden;
	position: relative;
	width: 100%;
	display: flex;
  align-items: center;
  justify-content: space-between;
	box-sizing: border-box;
}


.Select-arrow-zone {
	margin-right: 20px;
}

.Select-clear-zone {
	display: none;
}

.Select-value {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	padding: 20px;
	bottom: 0;
	left: 0;
	height: 100%;
	position: absolute;
}


.Select-menu-outer {
	border: 2px solid $dd-selected-op;
	margin-top: -2px;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}


.Select-menu {
	max-height: 398px;
	overflow-y: auto;
}

.Select-option {
	color: $c-black;
	font-size: 14px;
	font-weight: 700;
	display: block;
	padding: 25px;
	cursor: pointer;
	&.is-selected{
		color: $dd-selected-op;
	}

	&:hover{
		background: $dd-option-hover;
	}
}






//native selectbox
.SelectBox{

	select {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		@include above(tp, portrait){
			display: none;
		}
	}
}

.wrap{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
	font-size: 14px;
	font-weight: 700;
	padding: 20px;

}
