@import '../../../theme/vars';
@import '../../../theme/placeholders';
@import '../../../theme/mixins';

:global {
	.SelectBox {
		position: relative;
		font-family: sans-serif;
		background: $dd-off-bg;
		width: 100%;

		&:hover {
			background: $c-white;
		}
	}

	.Select-control {
		border: 1px solid $dd-selected-op;
		height: 44px;
		outline: none;
		overflow: hidden;
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;

		.Select-input:focus {
			outline: none;
		}
	}

	.is-searchable {
		&.is-open > .Select-control {
			cursor: text;
		}
	}

	.Select-arrow-zone {
		margin-right: 10px;
		width: 16px;
		height: 16px;
		display: block;

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}
	}

	.Select-clear-zone {
		display: none;
	}

	.Select-value {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 700;
		padding: 0 10px;
		bottom: 0;
		left: 0;
		height: 100%;
		position: absolute;
	}

	.Select-input {
		padding-left: 10px;
		padding-right: 10px;
		vertical-align: middle;

		> input {
			background: none transparent;
			border: 0 none;
			box-shadow: none;
			cursor: default;
			display: inline-block;
			font-family: inherit;
			font-size: inherit;
			margin: 0;
			outline: none;
			-webkit-appearance: none;

			.is-focused & {
				cursor: text;
			}
		}
	}

	.has-value.is-pseudo-focused .Select-input {
		opacity: 0;
	}

	.Select-control:not(.is-searchable) > .Select-input {
		outline: none;
	}

	.Select-menu-outer {
		border: 1px solid $dd-selected-op;
		margin-top: -1px;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1000;
		-webkit-overflow-scrolling: touch;
		background: $c-white;
	}

	.Select-menu {
		max-height: 412px;
		overflow-y: auto;
	}

	.Select-option {
		font-size: 14px;
		font-weight: 700;
		display: block;
		padding: 14px;
		cursor: pointer;

		&.is-selected {
			color: $dd-selected-op;
		}

		&.is-focused {
			background: $dd-option-hover;
		}

		&:hover {
			background: $dd-option-hover;
		}
	}

	.Select-noresults {
		cursor: default;
		display: block;
		font-weight: 700;
		font-size: 14px;
		padding: 14px;
	}

	.down {
		fill: $dd-selected-op;
	}


	//native selectbox
	.SelectBox {
		select {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			width: 100%;
			height: 100%;
			@include above(tp, portrait) {
				display: none;
			}
		}
	}

	.wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 1;
		font-size: 14px;
		font-weight: 700;
		padding: 10px;
	}
}
